# Angular
node_modules/
.angular/
dist/
*.tsbuildinfo

# Spring Boot
target/
*.log

# IDE
.vscode/
.idea/

# IntelliJ
.idea/

# Maven
target/

# Backend generated/user uploads
Formation_service/src/main/resources/static/uploads/